* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadada;
  height: 100vh;
}
.zoomer {
  display: flex;
  position: relative;
}
.zoomer .image {
  width: 500px;
  margin: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  cursor: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.result {
  position: absolute;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.hide {
  display: none;
}
