* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
    --txt-color: #fff;
    --timer-box-bg: #1c2451;
    --timer-box-txt-bg: #085391;
}
.content__wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(sai-gon-by-night-3914364_1280.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.firework-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.content__wrapper .header {
  color: #fff;
  font-size: 30px;
}
.content__wrapper .year {
    color: #fff;
    font-size: 100px;
}
.timer
{
    display: flex;
    justify-content: space-evenly;
}
.timer .timer-box
{
    background-color: var(--timer-box-bg);
    margin-right: 50px;
}
.timer-box .timer-box__count
{
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.timer-box:last-child
{
    margin-right: 0;
}
.timer-box .timer-box__text
{
    background-color: var(--timer-box-txt-bg);
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

