* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: linear-gradient(to right, #ffe000, #799f0c);
  min-height: 100vh;
}
.container {
  width: 400px;
  background-color: #fff;
  margin: 100px auto;
  border-radius: 6px;
  overflow: hidden;
}
.form {
  padding: 10px 20px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #aaa;
}
.form input {
  padding: 0px 20px;
  font-size: 24px;
  border: none;
  outline: none;
  width: 100%;
}
.form button {
  padding: 5px 15px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  outline: none;
  background-color: yellowgreen;
  color: #fff;
}
.todos li {
  padding: 15px 22px;
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
 
}
.todos li span{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.todos li i {
  color: yellowgreen;
  font-size: 20px;
  opacity: 0;
  transition: ease 0.5s;
  cursor: pointer;
}
.todos li:hover i {
  opacity: 1;
}
.completed span {
  text-decoration: line-through;
  color: rgb(200, 200, 200);
}
