@import url("https://fonts.googleapis.com/css2?family=Montserrat");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  height: 100vh;
  display: flex;
  background-color: #060802;
  flex-direction: column;
}
.text-typing {
  margin: 200px auto;
  color: #96ee1c;
}

.text-typing p {
  font-size: 70px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 0 100px #96ee1c;
  animation: typing 10s steps(30) infinite, blink 1s infinite;
}
@keyframes blink {
  0%,
  100% {
    border-right: 10px solid transparent;
  }
  50% {
    border-right: 10px solid #96ee1c;
  }
}
@keyframes typing {
  0%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}
.container {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin: 0px auto;
  font-size: 50px;
}
.container p {
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
}
.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.cursor {
  display: inline-block;
  width: 3px;
  background-color: #ccc;
  animation: blink1 1s infinite;
}
@keyframes blink1 {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
.cursor.text-typing {
  animation: none;
}
